.vs/
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Tt]emp/
*.[oa]
*.lo
*.la
*.blg
*.tdl
*.log
*.ilk
*.aps
*.pch
*.obj
*.lib
*.ncb
*.suo
*.user
*.exe
*.dll
*.pdb
*.bak
*.sbr
*.bsc
*.res
*.tlb
*.vsp
*.vsncc
*.vspscc
packages/
node_modules/
bower_components/
jspm_packages/
*.config.user
*.publishsettings
appsettings.Development.json
*.userprefs
*.resharper
*.dotSettings
*.suo.old
_ReSharper.*/
ProjectJs/
[Tt]humbs.db
*.DS_Store
ehthumbs.db
[Dd]esktop.ini